.content {
  max-width: 95%;
  margin: 20px auto;
  color: #000;
  font-size: 110%;
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px 30px 20px;


  h1 {
    text-align: center;
    font-size: 200%;
  }

  p {
    margin-top: 20px;
  }
}
