.my-container {
  max-width: 1200px;
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.column {
  flex-direction: column;
}

.contact-block {
  margin-top: 40px;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .3);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;

}

.map {
  margin: 20px;
  border: none;
}

.card-block {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card-title {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.card-text {
  color: grey;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}
