.info-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .text-fields {
    > span {
      margin-left: 30px;
      font-weight: bold;
      font-size: 120%;
    }
  }

  margin-bottom: 30px;
}
