.body {
    margin: 0;
    background-image: url('../static/background.jpg');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

* {
    font-family: Ubuntu;
}

.hide-on-desktop {
    display: none;
    width: 100%;
    height: 100%;
}

.hide-on-mobile {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width:700px) {
    .hide-on-desktop {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}
